body
{
	margin-top: 20vh;	
}

/* Grid Items */
.grid-container {
    display: grid;
    margin: auto;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "necro necro necro"
        "wolfram wolfram wolfram"
        "hello about about";
    grid-gap: 1vh .5vw;

    /*background-color: #BEBBB6;*/
    background-color: rgba(0,0,0,0);

    width: 32rem;
    /*padding: 1vmin;*/

    text-align: center;
}

.grid-item {
    /*background-color: #BEBBB6;*/
    background-color: rgba(0,0,0,0); 
    border: .2rem double #444;
    border: .2rem double rgba(248, 249, 250, 0.8);
    font-size: 2rem;
    padding: 1rem;

}

.subtitle {
    font-size: 1rem;
}

/* Individual items in the grid
    list of pastel colors
    #ffd1dc (255,209,220)
    #ddceff (221,206,255)
*/

a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #e9ecef;
}

/*Wolfram Button*/
a.wolfram {
    grid-column-start: 1;
    grid-column-end: 4;
}

a.wolfram:hover {
    background-color: rgba(204, 221, 255, .4);
}

a.wolfram:active {
    background-color: rgba(230, 238, 255, .4);
}

/* Hello Game Button */
a.hello {
    /*grid-column: 1 / span 2;*/
}

a.hello:hover {
    background-color: rgba(204, 255, 251, .4);
}

a.hello:active {
    background-color: rgba(230, 255, 253, .4);
}

/* About Me button */
a.about {
    grid-area: about;
}

a.about:hover {
    background-color: rgba(255, 215, 204, .4);
}

a.about:active {
    background-color: rgba(255, 235, 230, .4);
}

/* Necromacy button */
a.necro {
    grid-area: necro;
}

a.necro:hover {
    background-color: rgba(213, 255, 204, .4);
}

a.necro:active {
    background-color: rgba(234, 255, 230, .4);
}
