body {
    padding-top: 10%;
}

a.landing-page-link {
    background-color: rgba(0,0,0,0); 
    border: .2rem double #444;
    /*border: .2rem double rgba(248, 249, 250, 0.8);*/
    color: #333;
    margin: .2rem;

    text-decoration: none;
}

a.landing-page-link::hover {
    text-decoration: none;
    color:#333;  
}

a.landing-page-link .link-inner {
    color: inherit;
    padding: 1rem;
}

/*Wolfram Button*/
a.wolfram-button:hover {
    background-color: rgba(204, 221, 255, .4);
}

a.wolfram-button:active {
    background-color: rgba(230, 238, 255, .4);
}

/* Hello Game Button */
a.hello-button:hover {
    background-color: rgba(204, 255, 251, .4);
}

a.hello-button:active {
    background-color: rgba(230, 255, 253, .4);
}

/* About Me button */
a.blog-button:hover {
    background-color: rgba(255, 215, 204, .4);
}

a.blog-button:active {
    background-color: rgba(255, 235, 230, .4);
}

/* Necromacy button */
a.necromancy-button:hover {
    background-color: rgba(213, 255, 204, .4);
}

a.necromancy-button:active {
    background-color: rgba(234, 255, 230, .4);
}