* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-align: left;
}

/* Global */

body {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    border: 2px solid black;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.border-ui {
    border: 2px solid #333332;
    border-radius: 10px;
}

/* Top Bar */

#topbar {
    height: 138px;
    border-bottom: 2px solid #333332;
    top: 0;
}

#topbar * {
    font-size: 32px;
}

#topbar p {
    padding: 5px 0 0 15px;
}


/* Commands Area */

#command_section {
    /*width: 338px; /* Width if both asides are equal  */
    width: 258px;
    height: 520px;
    border-right: 2px solid #333332;
    float: left;
}


/* Main */
#main {
    width: 520px;
    height: 520px;
    float: left;
}

#main img.shovel {
    border: 2px solid #333332;
    padding: 5px;
    display: block;
    margin: 40px auto 0;
 }



/* Info Area */

#info_section {
    /*width: 338px; /* Width if both asides are equal */
    width: 418px;
    height: 520px;
    border-left: 2px solid #333332;
    float: left;
}


/* Bottom Bar */

#bottombar {
    height: 138px;
    width: 100%;
    border-top: 2px solid #333332;
    position: absolute;
    bottom: 0;
}


/* Misc */
