* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-align: left;
}

/* Global */

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.border-ui {
}

.button {
    background-color: inherit;
    cursor: pointer;
    box-shadow: 0 6px #6B6A68;
    border: 2px solid #333332;
    border-radius: 10px;
}

.button:hover {
    /*background-color: #DEDCD8;*/
}

.button:active {
    /*background-color: #DEDCD8;*/
    box-shadow: 0 3px #6B6A68;
    transform: translateY(3px);
}

.button:focus {
    outline:0;
}

/* Top Bar */

#topbar {
    height: 118px;
    border-bottom: 2px solid #333332;
    top: 0;

}

#topbar * {
    font-size: 32px;
}

#topbar p {
    padding: 0 0 0 15px;
}



/* Main */
#main {
    width: calc(50% - 91px);;
    height: 520px;
    float: left;
}

#main button.shovel {
    border: 2px solid #333332;
    padding: 12px 12px 8px;
    display: block;
    margin: 60px auto 0;
}


/* Commands Area */

#command_section {
    /*width: 338px; /* Width if both asides are equal  */
    width: 178px;
    height: calc(100% - 120px - 160px);
    border-right: 2px solid #333332;
    float: left;
}

#command_section button.unit {
    display: block;

    width: 124px;
    height: 100px;
    margin: 15px auto;
}

#command_section button.unit:first-of-type {
    /*margin-left: 15px;*/
}

#command_section button.unit p {
    text-align: center;  
}


/* Info Area */

#info_section {
    /*width: 338px; /* Width if both asides are equal */
    width: calc(50% - 91px - 10px);             /* (50% - halfOfCommandArea - thisPadding) */
    height: calc(100% - 120px - 160px - 10px);  /*  (50% - topBar - footer - thisPadding)  */
    border-left: 2px solid #333332;
    float: left;
    padding: 5px;
}


/* Bottom Bar */

#bottombar {
    width: 100%;
    height: 158px;
    border-top: 2px solid #333332;
    position: absolute;
    bottom: 0;
}

#bottombar div.bottom-button-wrapper {
    margin: 15px 5px;
    display: inline-block;
}

#bottombar div.bottom-button-wrapper p {
    margin-left: 5px;
}

#bottombar button.unit {
    width: 124px;
    height: 100px;
    margin-bottom: 6px;
}

#bottombar div.bottom-button-wrapper:first-of-type {
    margin-left: 15px;
}

#bottombar button.unit p {
    text-align: center;  
}

/* Misc */
