body {
    margin-top: .5rem;
}

h3 {
    font-size: 200%;
}

main.simulation-area, main.options-area {
    padding: 1em;
}

main div {
    display: box;
    width: auto;
    text-align: center;
    margin: 0 auto;
}


